<?xml version="1.0" ?>
<robot name="pneutrunk" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- TODO: Create base link -->
<xacro:include filename="$(find pneutrunk_description)/urdf/pneutrunk_table_macro.xacro"/>
<xacro:pneutrunk_table />
<!-- Add robot -->
<!-- <xacro:include filename="$(find pneutrunk_description)/urdf/segment_macro.xacro"/>
<xacro:segment suffix="1" baselink="base_link"/> -->
<!-- <xacro:segment suffix="2" baselink="base_link"/>
<xacro:segment suffix="3" baselink="base_link"/>
<xacro:segment suffix="4" baselink="base_link"/>
<xacro:segment suffix="5" baselink="base_link"/>
<xacro:segment suffix="6" baselink="base_link"/>

<joint name="segment_1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="segment_1"/>
</joint> -->



</robot>